<div class="row">
  <div class="u-full-width">
    <%= @group.name %>
  </div>
</div>
<div class="row">
  <div class="six columns">
    This Week's Swap
  </div>
  <div class="six columns">
    Leaderboard
  </div>
</div>

<div class="row">
  <div class="six columns">
    Last Week's Swap
  </div>
  <div class="six columns">
    Explore Recipes
  </div>
</div>

<div class="row">
  <div class="six columns">
    Next Week's Swap
  </div>
  <div class="six columns">
    Location | Day | Time
  </div>
</div>