<% @groups.each do |group| %>
  <%= link_to group_swapboard_path(group.name), id: "group-link" do %>
    <div class="five columns group-card">
      <h4 class="group-name"><%= group.name %></h4>
      <p>Visit the swapboard</p>
    </div>
  <% end %>
<% end %>
