<% @groups.each do |group| %>
  <%= link_to group_path(group.name), id: "group-link" do %>
    <div class="five columns group-card">
      <h4 class="group-name"><%= group.name %></h4>
      <p>Budget: <%= number_to_currency(group.budget) %></p>
      <p>Max Participants: <%= group.max_participants %></p>
    </div>
  <% end %>
<% end %>
