<div id="footer">
  <div class="row">
    <div class="u-full-width">
      <p class="footer-content">Copyright © Crockswap</p>
      <% if current_user %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>