<div id="footer">
  <div class="row">
    <div class="four columns">
      <p class="footer-heading"><strong>footer content column 1</strong></p>
      <p class="footer-content">"Aye, aye, sir," cheerily cried little King-Post.</p>
    </div>
    <div class="four columns footer-content-box">
      <p class="footer-heading"><strong>footer content column 2</strong></p>
      <p class="footer-content">There she blows right ahead, boys!—lay back!" </p>
    </div>
  </div>
</div>