<div id="footer">
  <div class="row">
    <div class="four columns">
      <p><strong>footer content column 1</strong></p>
      <p>"Aye, aye, sir," cheerily cried little King-Post, sweeping round his great steering oar. "Lay back!" addressing his crew.</p>
    </div>
    <div class="four columns">
      <p><strong>footer content column 2</strong></p>
      <p>There!—there!—there again! There she blows right ahead, boys!—lay back!" </p>
    </div>
    <div class="four columns">
    </div>
  </div>
</div>