<div id="menu">
  <div class="row">
    <div class="six columns">
      <%= image_tag("icon-svg/cutlery-1.svg", width: "35", alt: "CrockSwap") %>
      <span class="nav-name">CrockSwap</span>
    </div>
    <div class="six columns">
      <nav>
          <ul>
            <li class="u-pull-left"><a href="#">Sign in</a></li>
            <li class="u-pull-left"><a href="#"></a>Sign up</li>
            <li class="u-pull-left"><a href="#"></a>My Profile</li>
          </ul>
      </nav>
    </div>
  </div>
</div>
