<nav class="fixed-nav-bar">
  <div class="row">
    <div class="u-full-width">
      <div id="menu" class="menu">
        <% unless current_user %>
          <%= link_to root_path, { class: "clean-link" } do %>
            <span class="sitename">Crockswap</span>
          <% end %>
        <% else %>
          <% if current_user.groups.count > 1 %>
            <%= link_to groups_path, { class: "clean-link" } do %>
              <span class="sitename">Crockswap</span>
            <% end %>
          <% else %>
            <%= link_to user_root_path, { class: "clean-link" } do %>
              <span class="sitename">Crockswap</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>