<div class="swapboard-week-links">
  No scheduled swappin' this week.
</div>

<div class="dashboard-table this-week empty-week">
  <div class="dashboard-table-row empty-week">
    <div class="dashboard-table-cell header empty-week">Swapper</div>
    <div class="dashboard-table-cell header empty-week">Dish</div>
    <div class="dashboard-table-cell header empty-week">Category</div>
  </div>

  <div class="dashboard-table-row empty-week">
    <div class="dashboard-table-cell empty-week"></div>
    <div class="dashboard-table-cell empty-week"></div>
    <div class="dashboard-table-cell empty-week"></div>
  </div>

</div>
