<h6>Leaderboard</h6>
<div class="dashboard-table">
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell header">Rank</div>
      <div class="dashboard-table-cell header">Swapper</div>
      <div class="dashboard-table-cell header">Average Stars</div>
    </div>
  <% @group.leaderboard_users.each_with_index do |member, index| %>
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell"><%= index + 1 %></div>
      <div class="dashboard-table-cell"><%= member.name %></div>
      <div class="dashboard-table-cell"><%= member.average_rating(@group) %></div>
    </div>
  <% end %>
</div>