<h6>Leaderboard</h6>
<div class="dashboard-table">
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell header">Swapper</div>
      <div class="dashboard-table-cell header">Average Stars</div>
    </div>
  <% @group.users.each do |member| %>
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell">4.5</div>
      <div class="dashboard-table-cell">1.7</div>
    </div>
  <% end %>
</div>