<div class="dashboard-table swap-vitals">
  <div class="dashboard-table-row">
    <div class="dashboard-table-cell header">Swap Location</div>
    <div class="dashboard-table-cell header">Day</div>
    <div class="dashboard-table-cell header">Time</div>
  </div>
  <div class="dashboard-table-row">
    <div class="dashboard-table-cell"><%= @group.swap_location %></div>
    <div class="dashboard-table-cell"><%= week.swap_date.strftime("%A, %m/%d") %></div>
    <div class="dashboard-table-cell">3pm</div>
  </div>
</div>