<div class="container">
  <div class="row">
    <div class="six columns">
      Welcome <%= @user.email %>

      <% unless @groups.empty? %>
      <hr>
      <p>My groups: </p>
      <ul>
        <% @groups.each do |group| %>
          <li><%= group.name %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="three columns">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-danger"><%= flash[:notice] %></div>
      <% end %>
    </div>
  </div>
</div>