<div class="container">
  <div class="row">
    <div class="u-full-width">
      <% unless @groups.empty? %>
        <p class="medium"><%= fa_icon "users" %> My groups</p>
        <%= render "groups/group_card", collection: @groups %>
      <% else %>
        <p>You aren't in any groups yet.</p>
      <% end %>
    </div>
  </div>
  <div class="u-full-width">
    <%= link_to new_group_path  do %>
      <p><%= fa_icon "plus" %> Nobody swaps alone. Start a group here.</p>
    <% end %>
  </div>
</div>