<div class="row center-content homepage-frame">
  <div class="u-full-width">
    <h2>HOMEPAGE CONTENT</h2>
    <p>Spend less. Cook once. Eat for days.</p>
    <%= link_to "Sign up", new_user_registration_path, {class: "button"} %>
  </div>
</div>

<div class="row center-content about-frame">
  <div class="u-full-width">
    <h2>ABOUT CONTENT</h2>
    <p>Spend less. Cook once. Eat for days.</p>
  </div>
</div>

<div class="row center-content something-frame">
  <div class="u-full-width">
    <h2>SOMETHING ELSE</h2>
    <p>Spend less. Cook once. Eat for days.</p>
  </div>
</div>