<div class="container">
  <div class="row">
    <div class="u-full-width">
      <% unless @groups.empty? %>
        <%= render "home/swapboard_partial", object: @group %>
      <% else %>
        <p>You aren't in any groups yet.</p>
        <%= link_to "Start a group", new_group_path %>
      <% end %>
    </div>
  </div>
  <div class="u-full-width">

  </div>
</div>