<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>!</h1>
    <hr>
    <p>You've been invited to <%= @group_admin.name %>'s Crockswap group <%= @group.name %>!!
    <p>You are so lucky!</p>
    <p>Follow the link below to join the group and create a profile if you don't alreay have one.</p>
    <p><%= link_to 'Join the group', invite_confirmation_url(@token) %></p>
    <hr>
    <p>-Crockswap</p>
  </body>
</html>
