<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>Add my meal</h3>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for([@group, @week, @meal]) do |f| %>

        <%= render partial: "form", locals: { f: f }%>


        <div class="actions">
          <%= f.submit "Add meal" %>
        </div>
      <% end %>

    </div>
  </div>
</div>