$font-family-sans-serif: 'Muli';
$font-family-serif: 'Ovo';
$font-size-base: 25px;
$font-size-small: 10px;
$font-size-small-desk: 14px;
$font-size-large: 30px;
$font-size-large-desk: 50px;

// colors
$white: #FFFFFF;
$brown: #3B2626;
$red: #D60D0D;
$orange: #E07102;
$tan: #C2B1A1;