$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Arvo', serif;
$font-size-base: 25px;
$font-size-small: 10px;
$font-size-small-desk: 14px;
$font-size-medium: 16px;
$font-size-medium-desk: 20px;
$font-size-large: 30px;
$font-size-large-desk: 50px;

// colors
$white: #FFFFFF;
$orange: #E07102;
$black: #000000;
$green: #669900;
$darkgrey: #454C52;
$lightgrey: #CBCBCB;

$cream: #E9EACD;
$blue: #ACD1E1;
$bluegrey: #A0ADAB;
$darkbluegrey: #333435;