@import "app-variables";

#footer {
  background-color: $darkgrey;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

#footer p {
  color: $white;
}

.footer-content {
  text-align: center;
  font-size: $font-size-small;
}

#footer a {
  font-size: 11px;
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: $green;
}

// desktop
@media (min-width: 750px) {
  .footer-heading,
  .footer-content {
    font-size: $font-size-small-desk;
  }
}