@import "app-variables";

#footer {
  background-color: $darkgrey;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

#footer p {
  color: $white;
}

.footer-content {
  margin-top: 20px;
  text-align: right;
  font-size: $font-size-small;
}

#footer a {
  font-size: $font-size-small;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

#footer a:after {
  margin-left: 10px;
  content: "|"; 
  color: $green;
}

#footer a:hover {
  color: $green;
}


// desktop
@media (min-width: 750px) {
  .footer-heading,
  .footer-content {
    font-size: $font-size-small-desk;
  }

  .footer-content {
    margin-top: 0px;
  }

  #footer a {
    font-size: $font-size-small-desk;
  }

  #footer {
    background-color: $darkgrey;
    padding: 20px 20px 5px 60px;
    text-align: center;
  }
}