@import "app-variables";

#footer {
  width: 100%;
  background-color: #5E5E5E;
  padding: 40px;
}

#footer p {
  color: $white;
}

.footer-heading,
.footer-content {
  font-size: $font-size-small;
}

.footer-content-box {

}

// desktop
@media (min-width: 750px) {
  .footer-heading,
  .footer-content {
    font-size: $font-size-small-desk;
  }
}