@import "app-variables";

//type
body {
  font-family: $font-family-serif;
}

p, a {
  font-family: $font-family-serif;
}

h1,h2,h3,h4,h5,h6,button,.button, input {
  font-family: $font-family-sans-serif;
}

.medium {
  font-size: $font-size-medium
}

// links
a {
  color: $darkbluegrey;
}

a:hover {
  color: $green;
}

a.clean-link {
  color: white;
}
// layout
#content {
  padding-top: 80px;
  min-height: 650px;
  padding-left: 0px;
  padding-right: 0px;
  // min-height: 575px;
}

.center-content {
  text-align: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

//form helpers
.check-spacing {
  margin-left: 10px;
}

.checkbox-area {
  border: 1px solid $lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 10px;
}

.instruction-label {
  font-size: 11px;
}

// desktop

@media (min-width: 750px) {
  #content {
    padding-top: 160px;
    min-height: 500px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 960px;
    min-height: 600px;
  }

  .medium {
    font-size: $font-size-medium-desk;
  }
}

@media (min-width: 900px) {
  #content {
    max-width: 100%;
  }
}