@import "app-variables";

// links
a {
  color: $orange;
}

a:hover {
  color: $orange;
}

a.clean-link {
  color: white;
}
// layout
#content {
  margin-top: 70px;
  min-height: 650px;
}

.center-content {
  text-align: center;
}

//form helpers
.check-spacing {
  margin-left: 10px;
}

// desktop

@media (min-width: 750px) {
  #content {
    margin-top: 170px;
    min-height: 1250px;
  }
}