@import "app-variables";

// links
a {
  color: $orange;
}

a:hover {
  color: $orange;
}

a.clean-link {
  color: white;
}
// layout
#content {
  min-height: 350px;
}

.center-content {
  text-align: center;
}