@import "app-variables";

.group-card {
  border: 1px solid $black;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.group-card:hover {
  border: 1px solid $green;
}