@import "app-variables";

#groups_controller.show-action {
  .week-card {
    border: 1px solid $black;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .add-weeks-link:hover {
    color: $green;
  }

  .add-weeks-form {
    display: none;
  }

  .weeks-arrow-left {
    font-size: 40px;
    line-height: 10px;
    float: left;
  }

  .weeks-arrow-right {
    font-size: 40px;
    line-height: 10px;
    float: right;
  }

  .slick-slider {
    margin-bottom: 0px;
  }

  .slider-arrows {
    max-width: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .group-settings {
    margin-bottom: 20px;
  }

  .meal-details {
    line-height: 5px;
  }

  .delete-group-link:hover {
    background-color: red;
    border-color: red;
  }

  .delete-group-confirmation {
    padding: 20px;
  }

  .delete-group-cancel {
    margin-left: 20px;
  }

  .notifcation-header {
    text-decoration: underline;
    margin-bottom: 3px;
  }

  .notifcation-note {
    margin-bottom: 0px;
  }
}

#groups_controller.index-action {
  .group-card {
    border: 1px solid $black;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .group-card:hover {
    border: 1px solid $green;
  }
}

#groups_controller.new-action {
  .new-swapper-form {
    margin-top: 35px;
  }
}