@import "app-variables";

#weeks_controller.new-action {
  .radio-label {
    font-size: 11px;
    margin-right: 4px;
    float: left;
  }

  .radio-button {
    margin-right: 20px;
  }

  .radio-area {
    float: left;
  }
}

#weeks_controller.index-action {
  .week-card {
    border: 1px solid $black;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .add-weeks-link:hover {
    color: $green;
  }

  .add-weeks-form {
    display: none;
  }

  .weeks-arrow-left {
    font-size: 40px;
    line-height: 10px;
    float: left;
  }

  .weeks-arrow-right {
    font-size: 40px;
    line-height: 10px;
    float: right;
  }

  .slick-slider {
    margin-bottom: 0px;
  }

  .slider-arrows {
    max-width: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

#weeks_controller.show-action {

  .swapboard-week-links {
    display: none;
  }

  .all-meals,
  .boardered {
    margin-bottom: 20px;
  }

}