@import "app-variables";

#weeks_controller.new-action {
  .radio-label {
    font-size: 11px;
    margin-right: 4px;
    float: left;
  }

  .radio-button {
    margin-right: 20px;
    float: left;
  }
}

#weeks_controller.index-action {
  .week-card {
    border: 1px solid $black;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
}