<p>Hello <%= @resource.email %>! Someone requested a link to change your password. If this was you, you can do this through the link below. If this was not you, find new friends. Change my password</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>